<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Loan API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Predict Loan Default</h1>

     <!-- Main Input For Receiving Query to our ML-->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="State" placeholder="State" required="required" />      
        <input type="text" name="ApprovalFY" placeholder="ApprovalFY" required="required" />            
        <input type="text" name="Term" placeholder="Term" required="required" />     
        <input type="text" name="NoEmp" placeholder="NoEmp" required="required" />      
        <input type="text" name="NewExist" placeholder="NewExist" required="required" />      
        <input type="text" name="CreateJob" placeholder="CreateJob" required="required" />       
        <input type="text" name="RetainedJob" placeholder="RetainedJob" required="required" />
        <input type="text" name="UrbanRural" placeholder="UrbanRural" required="required" />
        <input type="text" name="DisbursementGross" placeholder="DisbursementGross" required="required" />
        <input type="text" name="GrAppv" placeholder="GrAppv" required="required" />
        <input type="text" name="SBA_Appv" placeholder="SBA_Appv" required="required" />
        <input type="text" name="Franchise" placeholder="Franchise" required="required" />
        <input type="text" name="RevLineCr_yes" placeholder="RevLineCr_yes" required="required" />
        <input type="text" name="LowDoc_yes" placeholder="LowDoc_yes" required="required" />
            <input type="text" name="DisbursementYear" placeholder="DisbursementYear" required="required" />
        
        
        
          <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   
   {{ predicted }}

 </div>


</body>
</html>