<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Loan API</title> 
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <style>
  body {
	
    font-family: 'Alegreya';
	background-image: url("../static/bank.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 70% 100%;
    background-position:center
  }
  p.pred {
   font-size: 50px;
   width: 50%;
   margin: 80px 0;
   border-style: solid;
   border-color: #8cff1a;
   border-radius: 20px;
   color: white;
  }
  </style>	
</head>


<body>
	
	<center><p class="pred">{{ predicted }}</p></center>

</body>
</html>
